<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#example<%= question.id%>">
Show Answer
</button>

<!-- Modal -->
<div class="modal fade" id="example<%= question.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModal<%= question.id%>">Question</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p class="lead">Answer: <%= question.answer%></p>
          <h5><span class="badge rounded-pill text-bg-primary"><%= question.keyword%></span></h5>
          <p class="lead">Like:<%=  question.likes.count %></p>
          <% like = current_user.likes.find_by(question: question) %>
          <% if like.nil? %>
            <%= button_to "Like", likes_path, params: { like: { question_id: question.id}}, method: :post, class: "btn btn-success btn-lg" %>
            <!--<form action="/likes" method= "post">
              <input type="hidden" name= "authenticity_token" value="<%#= form_authenticity_token%>">
              <input type="hidden" name="like[question_id]" value="<%#= question.id%>">
              <input type="submit" value="Like">
            </form>-->
          <% else %>
            <%= button_to "Unlike", like_path(like), method: :delete, class: "btn btn-danger btn-lg" %>
            <%# <p class="lead">Unlike</p> %>
            <!--<form action="<%#= like_path(like) %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token%>">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Unlike">
            </form>-->
          <% end %>
      </div>
      <div class="modal-footer">
        <%= link_to "Back", questions_path, class: "btn btn-outline-primary"%>
      </div>
    </div>
  </div>
</div>